@{
    
}

<div class="row justifi-content-around">
	@*<div class="col-12 col-md-3">
		@Campos.GetInput("Nombre",true,100,"Nombre")
	</div>
	<div class="col-12 col-md-2">
		@Campos.GetInput("ICAO",true,4,"ICAO")
	</div>
	<div class="col-12 col-md-2">
		@Campos.GetInput("IATA",true,3,"IATA")
	</div>
	<div class="col-12 col-md-2">
		@Campos.GetInput("Pais",true,50,"Pais")
	</div>
	<div class="col-12 col-md-3">
		@Campos.GetInput("Estado",true,50,"Estado")
	</div>*@
</div>